<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/frontend/assets/css/base.css">
        <link rel="stylesheet" href="/frontend/assets/css/grid.css">
        <title>{% block title %}Petshop{% endblock %}</title>
    </head>
    <body>
        <header>
            <div class="main-width">
                <div class="flex header-1">
                    <div class="left">
                        <div class="header-item">賣家中心</div>
                        <div class="header-item">開始隨拍即賣囉！</div>
                        <div class="header-item">下載</div>
                        <div class="header-item">追蹤我們</div>
                    </div>
                    <div class="right">
                        <div class="header-item">通知</div>
                        <div class="header-item">幫助中心</div>
                        <div class="header-item">繁體中文</div>
                        <div class="header-item">註冊</div>
                        <div class="header-item">登入</div>
                    </div>
                </div>
                <div class="flex header-2">
                    <a id="left" href="/">
                        <img id="shopme" src="/static/shopme.jpg">
                    </a>
                    <div id="middle">
                        <form id="search-bar">
                            <input id="search">
                            <button type="button" id="search-btn">
                                <img id="search-icon" src="/static/search.png">
                            </button>
                        </form>
                        <div class="item-undersearch">
                            <div class="small-word">更多商品</div>
                            <div class="small-word">更多商品</div>
                            <div class="small-word">更多商品</div>
                            <div class="small-word">更多商品</div>
                            <div class="small-word">更多商品</div>
                            <div class="small-word">更多商品</div>
                            <div class="small-word">更多商品</div>
                        </div>
                    </div>
                    <a id="right" href="/">
                        <img id="cart" src="/static/cart.jpg">
                    </a>
                </div>
            </div>
        </header>
        <main>
            {% block main %}

            {% endblock %}
        </main>
    </body>
</html>