{% extends "base-2.html" %}

{% block title %} Login {% endblock %}

{% block main %}
<main>
    <div class="main-width">
        <form id="login-form">
            <h2 class="flex">Login</h2>
            <div  class="flex mb-20">
                信箱<input id="email">
            </div>
            <div  class="flex mb-20">
                密碼<input id="pw">
            </div>
            <div  class="flex mb-20">
                <button type="submit">submit</button>
            </div>
            <div  class="flex mb-20" id="msg">
                
            </div>
        </form>
    </div>
</main>
<script src="/frontend/assets/js/pages/common.js"></script>
<script src="/frontend/assets/js/pages/login.js"></script>
{% endblock %}