{% extends "base.html" %}

{% block link %}<link rel="stylesheet" href="/frontend/assets/css/product.css">{% endblock %}
{% block title %}Prodcut{% endblock %}

{% block main %}
<div class="main-width">
    <div id="categoies">麵包屑</div>
    <section class="flex-1">
        <section id="left">
            <img src="/static/{{product.image}}" id="product-img">
        </section>
        <section id="right">
            <div id="name" class="mt-20">{{product.product_name}}</div>
            <div class="row flex-1 mt-20">
                <div class="box-1">
                    <span>價格</span>
                </div>
                <div class="box-2">
                    <div id="price">NT${{variant[0].price // 100}}</div>
                </div>
            </div>
            <div class="row flex-1 mt-20">
                <div class="box-1">
                    <span>品牌</span>
                </div>
                <div class="box-2">
                    <div id="brand">{{product.brand_name}}</div>
                </div>
            </div>
            <div class="row flex-1 mt-20">
                <div class="box-1">
                    <span>規格</span>
                </div>
                <div class="box-2">
                    {% for v in variant %}
                    <button 
                        type="button"
                        class="var-btn {% if loop.first %}is-active{% endif %}"
                        data-price="{{v.price}}"
                        data-stock="{{v.stock}}"
                        >
                        {{v.sku}}</button>
                    {% endfor %}
                </div>
            </div>
            <div class="row flex-1 mt-20">
                <div class="box-1">
                    <span>數量</span>
                </div>
                <div class="box-2 flex-1">
                    <div class="mr-20">數字按鈕</div>
                    <div id="stock">{{variant[0].stock}}</div>                    
                </div>
            </div>
            <div class="row flex-1 mt-20">
                <button class="mr-20">加入購物車</button>
                <button>直接購買</button>
            </div>

        </section>
    </section>
    
</div>

<script src="/frontend/assets/js/pages/product.js"></script>


{% endblock %}