<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/frontend/assets/css/base.css">
        <title>Login</title>
    </head>
    <body>
        <header>
            <div class="main-width">
                <div class="flex header-2">
                    <a id="base-left" href="/">
                        <img id="shopme" src="/static/shopme.jpg">
                    </a>
                </div>
            </div>
        </header>
        <main>
            <div class="main-width">
                <form action="/api/signup" method="post">
                    <h2 class="flex">Signup</h2>
                    <div  class="flex mb-20">
                        姓名<input name="name">
                    </div>
                    <div  class="flex mb-20">
                        信箱<input name="email">
                    </div>
                    <div  class="flex mb-20">
                        密碼<input name="pw_1">
                    </div>
                    <div  class="flex mb-20">
                        密碼確認<input name="pw_2">
                    </div>
                    <div  class="flex mb-20">
                        <button type="submit">submit</button>
                    </div>
                </form>
            </div>
        </main>
        <script></script>
    </body>
</html>