{% extends "base-2.html" %}

{% block title %} Signup {% endblock %}

{% block main %}
<main>
    <div class="main-width">
        <form id="form-signup">
            <h2 class="flex">Signup</h2>
            <div  class="flex mb-20">
                姓名<input id="name">
            </div>
            <div  class="flex mb-20">
                信箱<input id="email">
            </div>
            <div  class="flex mb-20">
                密碼<input id="pw">
            </div>
            <div  class="flex mb-20">
                <button type="submit">註冊</button>
            </div>
            <div  class="flex mb-20" id="msg"></div>
        </form>
    </div>
</main>
<script type="module" src="/frontend/assets/js/pages/signup.js"></script>

{% endblock %}